/*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}*/

.container {
    text-align: center;
    padding-top: 100px;
}

#timer-scope {
    font-weight: bold;
    float: right;
}

#top-score {
    float: left;
}

/*.container {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw,;
    height: 50vh;
    margin-left: 200px;
    align-items: center;
}*/




.btn-grid {
    display: grid;
    margin: 10px;
    gap: 5px;
}

.btn {
    background-color: rgb(83, 7, 83);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}

.hide {
    display: none;
}

#question {
    font-weight: bold;
    font-size: 30px;
}

#intro {
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 20px;
}

#endQuiz {
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 20px;
}


#start-btn {
    margin-top: 10px;
}

.controls {
    text-align: center;
}

li {
    background-color: rgb(7, 85, 20);
}